.à-propos  {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header-container {
    width: 70vw;
    position: relative;
    display: flex;
    
    align-items: center;
    height: 60vh;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.portrait {
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
    object-position: center top;
}

.header div img{
    margin-top: 20px;
    height: 30px;
    width: 30px;
}